.gizmo{
    position: fixed;
    right: 26%;
    bottom: 3%;
    display: flex;
    flex-direction: column;
  }
  
  .gizmo button{
    text-align: start;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -8px 5px 8px -10px #313131;
    color: black;
  }
  
  .gizmo button:hover{
    background-color: #4b4b4b;
  }

  .top{
    text-align: center;
  }

  .mid{
    display: flex;
  }

  .zoom :nth-child(2){
    padding: 11px;
  }

  .bottom{
    text-align: center;
  }