.menu{
    padding: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 92vh;
    background-color: white;
    box-shadow: -8px 5px 8px -10px #313131;
}

.menu form{
    overflow: scroll;
}