.App{
  height: 100vh;
  display: grid;
  align-items: center;
}

.title-bar{
  text-align: center;
  height: 8vh;
  box-shadow: -8px 5px 8px -10px #313131;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
}

.tree{
  width: 75%;
  height: 92vh;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  top: 8vh;
  left: 0;
  font-family: 'Poppins', sans-serif;
}

.move {
  transition: .5s;
}

.menu{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 25%;
  height: 92vh;
  background-color: white;
  box-shadow: -8px 5px 8px -10px #313131;
}