.App{
  height: 100vh;
  display: grid;
  align-items: center;
}

.title-bar{
  text-align: center;
  height: 8vh;
  box-shadow: -8px 5px 8px -10px #313131;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
}

.tree{
  width: 75%;
  height: 92vh;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  top: 8vh;
  left: 0;
  font-family: 'Poppins', sans-serif;
}

.move {
  transition: .5s;
}

.add-button{
  display: block;
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-weight: bolder;
  background-color: crimson;
  color: #fff;
  box-shadow: -8px 5px 8px -10px #313131;
  border: 2px solid #000;
}

.add-button:hover{
  background-color: orangered;
}

p{
  font-weight: bold;
}